img {
  height: 140px;
}

.card-deck{
  margin-top: 80px;
  margin-left: -30px !important;
}

.mr-3{
  margin-right: 0rem!important;
  margin-left: 0rem!important;
}

.card{
  width: 16rem;
  height: 405px;
}
.form-control{
  border-color:#ced4da !important;
  box-shadow: 0 0 0 0.01rem  #ced4da !important;
}


