div .tab{
  overflow-x: scroll;
}
.table{
  // width: 2050px;
  height: 100px;
}
.pageHeader{
  margin-top: 45px;
  margin-right: 45px;
}
.bg-table-header{
  text-align: center;
  background-color:rgb(158,207,251) !important;
}


.topnav {
  overflow: hidden;

  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-left: 15px;
  margin-right: 15px;

}



#nameVaccine {

  width: 280px;
  padding: 6px;
  margin-right: 16px;
  font-size: 17px;
}
#provider{
  width: 200px;
  padding: 6px;
  margin-right: 16px;
  font-size: 17px;
}
