<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div>
                    <h2 style="text-align: center">Quản Lý Kho Vaccine</h2>
                </div>
                <form [formGroup]="searchVaccine" (ngSubmit)="search()">
                    <div class="topnav">
                        <div>
                            <label for="nameVaccine">Tên Vaccine</label>
                            <input id="nameVaccine" class="form-control" type="text" placeholder="Tên Vaccine" formControlName="nameVaccine">
                        </div>
                        <div>
                            <label for="nameVaccine">Nước Sản Xuất</label>
                            <input type="text" id="provider" class="form-control" placeholder="Nước sản xuất" formControlName="originVaccine">
                        </div>
                        <div style="margin-right: 20px;">
                            <label for="status">Tình trạng </label>
                            <select id="status" class="form-control" formControlName="statusVaccine">
                              <option value="">Lựa chọn...</option>
                              <option [value]="'con'">Còn</option>
                              <option [value]="'het'">Hết</option>
                            </select>
                        </div>
                        <div style="margin-top: 25px; margin-right: 20px;">
                            <button class="btn btn-warning mt-xl-2" (keydown.enter)="resetSearch()" (click)="resetSearch()">
                                  <i class="fas fa-sync-alt"></i>
                            </button>

                        </div>
                        <div style="margin-top: 25px; margin-right: 15px;">
                            <button class="btn btn-success mt-xl-2"><i class="fa fa-search"></i>Tìm Kiếm</button>
                        </div>

                    </div>

                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-4" style="margin-top: 60px">
                <button class="btn btn-success mt-2 mb-md-3" routerLink="/vaccine-create">
                    <i class="fa fa-plus"></i> Nhập Vaccine
                </button>
                <h2 style="text-align: center">Danh Sách Vaccine</h2>
            </div>
        </div>
        <div *ngIf="listDataVac then listData else notData">

        </div>
        <ng-template #listData>
            <div class="content">
                <table class="table table-hover  table-bordered">
                    <thead>
                        <tr class="bg-table-header">
                            <th style="width: 20px">STT</th>
                            <th style="width: 100px">Tên Vaccine</th>
                            <th style="width: 80px">Loại Vaccine</th>
                            <th style="width: 70px">Số mũi tiêm</th>
                            <th style="width: 80px">Nước SX</th>
                            <th style="width: 50px">Số Lượng</th>
                            <th style="width: 70px">Hạn Sử Dụng</th>
                            <th style="width: 80px">ĐK Bảo Quản</th>
                            <th style="width: 80px">Tuổi Tiêm Chủng</th>
                            <th style="width: 80px">Tình Trạng</th>
                            <th style="width: 80px">Chức Năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vaccine of vaccines | paginate: { itemsPerPage: 10, currentPage: p },index as i">
                            <td class="text-center">{{i + 1}}</td>
                            <td style="text-align: left">{{vaccine.name}}</td>
                            <td>{{vaccine.vaccineType}}</td>
                            <td class="text-center">{{vaccine.times }}</td>
                            <td>{{vaccine.origin}}</td>
                            <td class="text-center">{{vaccine.quantity}}</td>
                            <td>{{vaccine.expired | date:'dd-MM-yyyy'}}</td>
                            <td>{{vaccine.maintenance}}</td>
                            <td>{{vaccine.age}}</td>
                            <td class="text-center">
                                <div *ngIf="vaccine.quantity === 0; else elseBlock">
                                    <div style="color: red">
                                        <label>Hết</label>
                                    </div>
                                </div>
                                <ng-template #elseBlock>
                                    <div style="color: green">
                                        <label>Còn</label>
                                    </div>
                                </ng-template>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-success" [disabled]="vaccine.quantity === 0" [routerLink]="['/import-and-export/' + vaccine.id ]">Xuất Kho
                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="pageHeader">
                    <pagination-controls previousLabel="Trước" nextLabel="Sau" class="float-right" (pageChange)="p=$event">
                    </pagination-controls>
                </div>
            </div>
        </ng-template>
        <ng-template #notData>
            <div class="card-deck justify-content-center">
                <h2 class="text-center text-danger">Không có kết quả được tìm thấy</h2>
            </div>
        </ng-template>
    </div>
</div>