<div class="content">
  <div class="container">
    <h1 class="text-center mt-4 mb-4">Đăng ký tiêm phòng định kỳ theo lịch của trung tâm</h1>
    <!-- <H2 class="text-danger text-center" *ngIf="quantityMessage">{{quantityMessage}}</H2> -->
    <!-- <H2 class="text-danger text-center" *ngIf="alreadyRegister">Bạn đã từng đăng ký tiêm loại vắc xin này</H2> -->
    <br><br>
    <hr>
    <form [formGroup]="patientForm" (ngSubmit)="submitVaccinationRegister()" novalidate>
      <div class="row justify-content-center">

        <div class="col-xl-6">
          <div class="container">
            <h3 class="mb-4">Thông tin bệnh nhân</h3>
            <div class="row mb-3 ">
              <div class="col-4">
                <label class="col-form-label">Mã sổ tiêm chủng: </label>
              </div>
              <div class="col-8">
                <input [value]='currentPatient.patientId' class="form-control" type="text" readonly>
              </div>
            </div>
            <div class="row mb-3 ">
              <div class="col-4">
                <label class="col-form-label">Họ và tên: </label>
              </div>
              <div class="col-8">
                <input [value]='currentPatient.name' class="form-control" type="text" readonly>
              </div>
            </div>
            <div class="row mb-3 ">
              <div class="col-4">
                <label class="col-form-label">Giới tính: </label>
              </div>
              <div class="col-8">
                <input [value]='currentPatient.gender' class="form-control" type="text" readonly>
              </div>
            </div>
            <div class="row mb-3 ">
              <div class="col-4">
                <label class="col-form-label">Ngày sinh: </label>
              </div>
              <div class="col-8">
                <input [value]='currentPatient.dateOfBirth | date: "dd-MM-yyyy"' class="form-control" type="text" readonly>
              </div>
            </div>
            <div class="row mb-3 ">
              <div class="col-4">
                <label class="col-form-label">Người giám hộ: </label>
              </div>
              <div class="col-8">
                <input [value]='currentPatient.guardian' class="form-control" type="text" readonly>
              </div>
            </div>
            <div class="row mb-3 ">
              <div class="col-4">
                <label class="col-form-label">Địa chỉ: </label>
              </div>
              <div class="col-8">
                <input [value]='currentPatient.address' class="form-control" type="text" readonly>
              </div>
            </div>
            <div class="row mb-3 ">
              <div class="col-4">
                <label class="col-form-label">Số điện thoại: </label>
              </div>
              <div class="col-8">
                <input [value]='currentPatient.phone' class="form-control" type="text" readonly>
              </div>
            </div>
            <div class="row mb-3 ">
              <div class="col-4">
                <label class="col-form-label">Email: </label>
              </div>
              <div class="col-8">
                <input [value]='currentPatient.email' class="form-control" type="text" readonly>
              </div>
            </div>


          </div>
        </div>
        <div class="col-xl-6 border-left" >
          <div class="container">
            <h3 class="mb-4">Thông tin tiêm chủng định kỳ</h3>

            <div class="row mb-3 ">
              <div class="col-4">
                <label class="col-form-label">Tên vắc xin</label>
              </div>
              <div class="col-8">
                <input [value]='periodicalVaccination.vaccineName' class="form-control" type="text" readonly>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label class="col-form-label">Loại vắc-xin</label>
              </div>
              <div class="col-8">
                <input [value]='periodicalVaccination.vaccineTypeName' class="form-control" type="text" readonly>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label class="col-form-label">Nước sản xuất</label>
              </div>
              <div class="col-8">
                <input [value]='periodicalVaccination.country' class="form-control" type="text" readonly>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-4">
                <label class="col-form-label">Thời gian tiêm</label>
              </div>
              <div class="col-8">
                <input [value]="[ ' Ngày ' + periodicalVaccination.date| date:'dd-MM-yyyy'  ]" class="form-control" type="text" readonly>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-4">
                <label class="col-form-label">Số lần tiêm</label>
              </div>
              <div class="col-8">
                <input [value]="periodicalVaccination.times" class="form-control" type="text" readonly>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label class="col-form-label">Lộ trình</label>
              </div>
              <div class="col-8">
                <input [value]="periodicalVaccination.duration + ' Ngày'" class="form-control" type="text" readonly>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-4">
                <label class="col-form-label">Địa Điểm</label>
              </div>
              <div class="col-8">
                <input [value]="periodicalVaccination.location " class="form-control" type="text" readonly>
              </div>
            </div>
            <div class="row mb-3 ">
              <div class="col-4">
                <label class="col-form-label">Khung giờ tiêm: <span class="text-danger">*</span> </label>
              </div>
              <div class="col-8">
                <select id="vaccinationTime" class="form-control" formControlName="time" [ngModel]="timeFrame" (change)="selectTime($event.target.value)">
                  <option value="">Lựa chọn...</option>
                  <option *ngFor="let timeStamp of timeListString" [value]="timeStamp">
                    {{timeStamp}}
                  </option>
                </select>
                <div  *ngIf="patientForm.get('time').hasError('required') && patientForm.get('time').touched">
                  <small class="text-danger">Vui lòng chọn giờ tiêm.</small>
                </div>
                <div  *ngIf="timeMessage">
                  <small class="text-danger">{{timeMessage}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="">

          <div class="footer_register">
            <button *ngIf="!isSubmitted && validRegister " type="submit" class="btn btn-primary mr-3">Đăng ký</button>
            <button *ngIf="!isSubmitted && !validRegister " type="submit" class="btn btn-danger mr-3" disabled >Đăng ký</button>
            <button *ngIf="isSubmitted" class="btn btn-primary mr-3" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                          </button>
            <button type="button" class="btn btn-dark" data-toggle="modal" style="width: 84px;" data-target="#modelId">Hủy</button>
          </div>
        </div>

      </div>
    </form>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Xác Nhận Hủy</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span> Bạn có muốn hủy đăng ký tiêm chủng định kỳ không?</span>
          <!-- <h3>Bạn có muốn hủy đăng ký tiêm chủng định kỳ không?</h3> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
          <button type="button" routerLink="" class="btn btn-primary"  style="width: 75px;" data-dismiss="modal">Có</button>
        </div>
      </div>
    </div>
  </div>
</div>
