.topnav {
  overflow: hidden;

  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-left: 15px;
  margin-right: 15px;

}



#nameVaccine {

  width: 240px;
  padding: 6px;
  margin-right: 16px;
  font-size: 17px;
}


#provider{

  width: 180px;
  padding: 6px;
  margin-right: 16px;
  font-size: 17px;
}
