<!-- <div class="content" >
  <div class="container">
    <h1 class="text-center mt-4 mb-4">Bảng thông tin Vaccine của trung tâm</h1>

    <div class="topnav">
      <div>
        <label for="nameVaccine">Tên Vaccine</label>
        <input (keydown.enter)="page = 0; getListVaccine()" [(ngModel)]="name"  id="nameVaccine"
                          class="form-control" type="text" placeholder="Nhập tên Vaccine">
      </div>
      <div >
        <label for="provider">Nước sản xuất</label>
        <input (keydown.enter)="page = 0; getListVaccine()" [(ngModel)]="origin" id="provider"
                 class="form-control" type="text" placeholder="Nhập nước sản xuất">
      </div>

      <div style="margin-right: 15px;">
        <label for="status">Tình trạng Vaccine</label>
        <select (keydown.enter)="page = 0; getListVaccine()" [(ngModel)]="status" id="status" class="form-control" name="">
          <option value="">Lựa chọn...</option>
          <option value="true" >Còn</option>
          <option value="false" >Hết</option>
        </select>
      </div>
      <div  style="margin-top: 32px; margin-right: 15px;">
        <button class="btn btn-warning "  (click)="resetSearch()">
          <i class="fas fa-sync-alt"></i>
        </button>
      </div>
      <div style="margin-top: 32px; margin-right: 15px;">
        <button (click)="page = 0; getListVaccine()"  class="btn btn-success ">
          <i class="fa fa-search"></i> Tìm kiếm
        </button>
      </div>
    </div>





    <div class="" style="margin-top: 8%;">
      <table class="table table-hover table-bordered ">
        <thead>
        <tr style="background-color:   rgb(158,207,251) !important;">
          <th>STT</th>
          <th>Tên Vaccine</th>
          <th>Loại Vaccine</th>
          <th>Nước sản xuất</th>
          <th>Độ tuổi tiêm chủng</th>
          <th>Tình trạng Vaccine</th>
          <th>Đăng ký tiêm</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let v of vaccineList |  paginate: config ; let i = index">
          <td height="50px"class="text-center" >{{i + 1}}</td>
          <td style="width: 300px">{{v.name}}</td>
          <td>{{v.vaccineType.name}}</td>
          <td>{{v.origin}}</td>
          <td>{{v.age}}</td>
          <td class="text-center">{{v.quantity > 0 ? 'Còn' : 'Hết'}}</td>
          <td class="text-center">
            <button [disabled]="v.quantity < 1"  [routerLink]="v.quantity > 1 ?'/vaccination-by-request/create/' + v.vaccineId : '/vaccination-by-request/list'"  class="btn btn-success">Đăng ký</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div>
      <pagination-controls
        previousLabel="Trước"
        nextLabel="Sau"
        class="float-right"
        (pageChange)="pageChanged($event)"
        >
      </pagination-controls>
    </div>
  </div>
</div> -->






<div class="content">
  <div class="container">
      <div class="row">
          <div class="col-12">
            <h1 class="text-center mt-4 mb-4">Bảng thông tin Vaccine của trung tâm</h1>

              <form [formGroup]="searchVaccine" (ngSubmit)="search()">
                  <div class="topnav">
                      <div>
                          <label for="nameVaccine">Tên Vaccine</label>
                          <input id="nameVaccine" class="form-control" type="text" placeholder="Tên Vaccine" formControlName="nameVaccine">
                      </div>
                      <div>
                          <label for="nameVaccine">Nước Sản Xuất</label>
                          <input type="text" id="provider" class="form-control" placeholder="Nước sản xuất" formControlName="originVaccine">
                      </div>
                      <div style="margin-right: 20px;">
                          <label for="status">Tình trạng </label>
                          <select id="status" class="form-control" formControlName="statusVaccine">
                            <option value="">Lựa chọn...</option>
                            <option [value]="'con'">Còn</option>
                            <option [value]="'het'">Hết</option>
                          </select>
                      </div>
                      <div style="margin-top: 25px; margin-right: 20px;">
                          <button class="btn btn-warning mt-xl-2" (keydown.enter)="resetSearch()" (click)="resetSearch()">
                                <i class="fas fa-sync-alt"></i>
                          </button>
                      </div>
                      <div style="margin-top: 25px; margin-right: 15px;">
                          <button class="btn btn-success mt-xl-2"><i class="fa fa-search"></i>Tìm Kiếm</button>
                      </div>

                  </div>

              </form>
          </div>
      </div>

      <div *ngIf="listDataVac then listData else notData">

      </div>
      <ng-template #listData>
          <div class="content" style="margin-top: 8%;">
              <table class="table table-hover table-bordered ">
                  <thead>
                      <tr class="bg-table-header">
                          <th >STT</th>
                          <th >Tên Vaccine</th>
                          <th >Số mũi tiêm</th>
                          <th >Nước SX</th>
                          <th >Tuổi Tiêm Chủng</th>
                          <th >Giá (VNĐ/mũi)</th>
                          <th >Tình Trạng</th>
                          <th >Đăng ký tiêm</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let vaccine of vaccines | paginate: { itemsPerPage: 10, currentPage: p },index as i">
                          <td class="text-center">{{i + 1}}</td>
                          <td style="text-align: left">{{vaccine.name}}</td>
                          <td class="text-center">{{vaccine.times }}</td>
                          <td>{{vaccine.origin}}</td>
                          <td>{{vaccine.age}}</td>
                          <td class="text-center">
                            <div *ngIf="vaccine.price === 0; else elseBlocks">
                                <div >
                                    <label>Miễn phí</label>
                                </div>
                            </div>
                            <ng-template #elseBlocks>
                                <div >
                                    <label>{{vaccine.price}} VNĐ</label>
                                </div>
                            </ng-template>
                        </td>
                          <td class="text-center">
                              <div *ngIf="vaccine.quantity === 0; else elseBlock">
                                  <div style="color: red">
                                      <label>Hết</label>
                                  </div>
                              </div>
                              <ng-template #elseBlock>
                                  <div style="color: green">
                                      <label>Còn</label>
                                  </div>
                              </ng-template>
                          </td>
                          <td class="text-center">
                            <button [disabled]="vaccine.quantity < 1"  [routerLink]="vaccine.quantity > 1 ?'/vaccination-by-request/create/' + vaccine.id : '/vaccination-by-request/list'"  class="btn btn-success">Đăng ký</button>
                          </td>
                      </tr>
                  </tbody>
              </table>
              <div class="pageHeader">
                  <pagination-controls previousLabel="Trước" nextLabel="Sau" class="float-right" (pageChange)="p=$event">
                  </pagination-controls>
              </div>
          </div>
      </ng-template>
      <ng-template #notData>
          <div class="card-deck justify-content-center" style="margin-top: 8%;">
              <h2 class="text-center text-danger">Không có kết quả được tìm thấy</h2>
          </div>
      </ng-template>
  </div>
</div>
