<div class="content" >
  <div class="container">
    <h1 class="text-center mt-4 mb-4">Bảng thông tin Vaccine của trung tâm</h1>
    <div class="search row d-flex justify-content-xl-end justify-content-center mb-4 text-center">
      <div class="col-xl-2 col-md-3">
        <label for="nameVaccine">Tên Vaccine</label>
        <input (keydown.enter)="page = 0; getListVaccine()" [(ngModel)]="name"  id="nameVaccine" class="form-control" type="text" placeholder="Nhập tên Vaccine">
      </div>
  
      <div class="col-xl-2 col-md-3">
        <label for="provider">Nhà sản xuất</label>
        <input (keydown.enter)="page = 0; getListVaccine()" [(ngModel)]="origin" id="provider" class="form-control" type="text" placeholder="Nhập nhà sản xuất">

      </div>
      <div class="col-xl-2 col-md-3">
        <label for="status">Tình trạng Vaccine</label>
        <select (keydown.enter)="page = 0; getListVaccine()" [(ngModel)]="status" id="status" class="form-control" name="">
          <option value="">Lựa chọn...</option>
          <option value="true" >Còn</option>
          <option value="false" >Hết</option>
        </select>
      </div>
      <div>
        <br>
        <button class="btn btn-warning ml-5 mt-2"  (click)="resetSearch()">
          <i class="fas fa-sync-alt"></i>
        </button>
      </div>
      <div class="col-xl-2 col-4 mt-xl-4 mt-md-3 mt-2 d-xl-flex justify-content-xl-end">
        <button (click)="page = 0; getListVaccine()"  class="btn btn-success mt-2">
          <i class="fa fa-search"></i> Tìm kiếm
        </button>
      </div>
    </div>

    <div class="">
      <table class="table table-hover table-bordered ">
        <thead>
        <tr style="background-color:   rgb(158,207,251) !important;">
          <th>STT</th>
          <th>Tên Vaccine</th>
          <th>Loại Vaccine</th>
          <th>Nước sản xuất</th>
          <th>Độ tuổi tiêm chủng</th>
          <th>Tình trạng Vaccine</th>
          <th>Đăng ký tiêm</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let v of vaccineList |  paginate: config ; let i = index">
          <td height="50px"class="text-center" >{{i + 1}}</td>
          <td style="width: 300px">{{v.name}}</td>
          <td>{{v.vaccineType.name}}</td>
          <td>{{v.origin}}</td>
          <td>{{v.age}}</td>
          <td class="text-center">{{v.quantity > 0 ? 'Còn' : 'Hết'}}</td>
          <td class="text-center">
            <button [disabled]="v.quantity < 1"  [routerLink]="v.quantity > 1 ?'/vaccination-by-request/create/' + v.vaccineId : '/vaccination-by-request/list'"  class="btn btn-success">Đăng ký</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div>
      <pagination-controls
        previousLabel="Trước"
        nextLabel="Sau"
        class="float-right"
        (pageChange)="pageChanged($event)"
        >
      </pagination-controls>
    </div>
  </div>
</div>
