<div class="footer">
  <footer class="text-left " style="margin-top: 200px   ;background-color:rgb(158,207,251)">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-8 mb-md-0">
          <h5 class="text-uppercase mb-0">Trung tâm y tế dự phòng HÀ NỘI</h5>
          <ul class="list-unstyled">
            <li>
              <p><i class="fas fa-map-marker-alt"></i> 70 Nguyễn Chí Thanh, Láng Thượng, Ba Đình, Hà Nội</p>
            </li>
            <li>
              <p><i class="far fa-clock"></i> Giờ mở cửa Sáng: 07:30–11:00, Chiều: 13:30–16:30</p>
            </li>
            <li>
              <a href=""><i class="fas fa-phone"></i> Hotline:  024 3834 3537</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-8 mb-md-0">
          <h5 class="text-uppercase">Bản đồ</h5>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.352847145404!2d105.80459181476309!3d21.01856318600395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab673eca3895%3A0x63579b0d31b6dd10!2sHanoi%20Center%20for%20Preventive%20Medicine!5e0!3m2!1sfr!2s!4v1620053974865!5m2!1sfr!2s" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(129,174,207)">
      © 2022 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">Trung tâm y tế dự phòng Thành phố Hà Nội</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
