div.table{
  overflow-x:scroll;
}
table{
  height:100px;

}
.bg-table-header{
  background-color:rgb(158,207,251) !important;
}
.pageHeader{
  margin-top: 45px;
  margin-right: 25px;
}

@media screen and (min-width: 320px) {
  .map{
    width: 350px;
  }
}
@media screen and (min-width: 1280px) {
  .map{
    width: 650px;
  }
}
