
table{
  height:100px;

}
.bg-table-header{
  background-color:rgb(158,207,251) !important;
}
.pageHeader{
  margin-top: 45px;
  margin-right: 25px;
}

@media screen and (min-width: 320px) {
  .map{
    width: 350px;
  }
}
@media screen and (min-width: 1280px) {
  .map{
    width: 650px;
  }
}


.form-control{
  border-color:#ced4da !important;
  box-shadow: 0 0 0 0.01rem  #ced4da !important;
}
