<div class="container col-11">
  <h1 class="text-center mt-4 mb-4">XEM LỊCH TIÊM CHỦNG ĐỊNH KỲ</h1>
  <form [formGroup]="formGroup">
    <div class="search row d-flex justify-content-end mb-4 ">

      <div class="form-group col-auto">
        <label>Ngày Tiêm</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
          </div>
          <input formControlName="startDateInput" type="date" class="form-control"
                 (change)="startDate = $event.target.value" aria-describedby="start" required>
        </div>
      </div>

      <div class="form-group col-auto">
        <label>Tên vắc-xin</label>
        <div class="input-group">
          <input formControlName="nameInput" type="text" class="form-control" placeholder="Nhập tên vắc-xin"
                 (change)="name = $event.target.value">
        </div>

      </div>
      <div class="form-group col-auto">
        <label>Trạng thái</label>
        <select class="custom-select" (change)="status = $event.target.value">
          <option selected>Chọn trạng thái...</option>
          <option value="1">Đã thực hiện</option>
          <option value="0">Chưa thực hiện</option>
        </select>
      </div>
      <div class="col-auto">
        <br>
        <button type="reset" class="btn btn-warning mt-xl-2" style="margin-right: 20px;"  (click)="ResetsearchVaccinationManager()">
          <i class="fas fa-sync-alt"></i>
        </button>
        <button type="button" class="btn btn-success mt-xl-2"
                (click)="searchVaccinationManager(0, 1)">
          <i class="fa fa-search"></i> Tìm kiếm
        </button>

      </div>
    </div>
  </form>
</div>

<div class="container col-11 mt-5 ">
  <div style="text-align: left">
    <a routerLink="/periodical-vaccination-manager/create">
      <button class="btn btn-success mt-2 mb-md-3"><i class="fa fa-plus"></i> Thêm mới</button>
    </a>
  </div>
  <table class="table table-hover table-bordered">
    <thead>
    <tr class="table-primary" style="text-align: center">
      <th class="center-th">STT</th>
      <th>Thời Gian</th>
      <th>Ngày Tiêm</th>
      <th>Địa Điểm</th>
      <th>Tên Vaccine</th>
      <th>Đối Tượng</th>
      <th>Trạng Thái</th>
      <th>Ghi Chú</th>
      <th>Số Mũi Tiêm</th>
      <th>Chức Năng</th>
    </tr>
    </thead>
    <tbody *ngIf="listVaccination.length > 0">
    <tr *ngFor="let vaccinationManager of listVaccination |  paginate: { itemsPerPage: 10, currentPage: p }, index as i">
      <td class="center-th">{{i + 1}}</td>
      <td>{{vaccinationManager.startTime | slice: 0: 5}} - {{vaccinationManager.endTime | slice: 0: 5}}</td>
      <td>{{vaccinationManager.date | date: 'dd-MM-yyyy'}}</td>
      <td><a data-toggle="tooltip" data-placement="right"
             title="{{vaccinationManager.location }}">{{getShortName(vaccinationManager.location, 15) }}</a>
      </td>
      <td><a data-toggle="tooltip" data-placement="right"
             title="{{vaccinationManager.name }}">{{getShortName(vaccinationManager.name, 15) }}</a>
      </td>
      <td>{{vaccinationManager.age}}</td>
      <td>
        <div *ngIf="vaccinationManager.status; else noStatus">
          Đã thực hiện.
        </div>
        <ng-template #noStatus>Chưa thực hiện</ng-template>
      </td>
      <td>{{vaccinationManager.description | titlecase}}</td>
      <td class="center-th">{{vaccinationManager.times}}</td>
      <td class="center-th">
        <a data-toggle="tooltip" data-placement="right"
           title="Cập nhập lịch tiêm ngày {{vaccinationManager.date | date: 'dd-MM-yyyy'}}">
          <button type="button" class="btn btn-warning mr-3" [disabled]="vaccinationManager.status"
                  [routerLink]="['/periodical-vaccination-manager/',vaccinationManager.vaccinationId, 'edit']">
            <i class="fa fa-edit"></i>
          </button>
        </a>
        <a data-toggle="tooltip" data-placement="right"
           title="Cập nhập trạng thái lịch tiêm ngày {{vaccinationManager.date | date: 'dd-MM-yyyy'}}">
          <button type="button" class="btn btn-success mr-3" [disabled]="vaccinationManager.status"
                  data-toggle="modal" data-target="#updateModal"
                  (click)="getContentVaccination(vaccinationManager.vaccinationId, vaccinationManager.date,
                  vaccinationManager.location, vaccinationManager.name, vaccinationManager.type)">
            <i class="far fa-check-square"></i>
          </button>
        </a>
        <a data-toggle="tooltip" data-placement="right"
           title="Xóa lịch tiêm ngày {{vaccinationManager.date | date: 'dd-MM-yyyy'}}">
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                  (click)="getContentVaccination(vaccinationManager.vaccinationId, vaccinationManager.date,
                  vaccinationManager.location, vaccinationManager.name, vaccinationManager.type)">
            <i class="fa fa-trash"></i>
          </button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <pagination-controls
        previousLabel="Trước"
        nextLabel="Sau"
        class="float-right" (pageChange)="p = $event">
      >
  </pagination-controls>

</div>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Xóa lịch tiêm chủng định kỳ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa thông tin về lịch tiêm chủng định kỳ này không?</p>
        <p>Thông tin này khi bị xóa thì sẽ không thể hoàn lại ban đầu!!!</p>
        <hr>
        <p>Thông tin lịch tiêm chủng muốn xóa:</p>
        <table class="table table-hover table-bordered">
          <tr>
            <th>Ngày tiêm:</th>
            <td>{{dateVaccination | date: 'dd-MM-yyyy'}}</td>
          </tr>
          <tr>
            <th>Địa điểm:</th>
            <td>{{locationName}}</td>
          </tr>
          <tr>
            <th>Loại vắc-xin:</th>
            <td>{{vaccineTypeName}}</td>
          </tr>
          <tr>
            <th>Tên vắc-xin:</th>
            <td>{{vaccineName}}</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="getMessageDelete()">Hủy</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteVaccinationManager()">Đồng ý
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Cập nhật lịch tiêm chủng định kỳ đã hoàn thành</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn cập thông tin về lịch tiêm chủng định kỳ này không?</p>
        <hr>
        <p>Thông tin lịch tiêm chủng muốn cập nhập:</p>
        <table class="table table-hover table-bordered">
          <tr>
            <th>Ngày tiêm:</th>
            <td>{{dateVaccination | date: 'dd-MM-yyyy'}}</td>
          </tr>
          <tr>
            <th>Địa điểm:</th>
            <td>{{locationName}}</td>
          </tr>
          <tr>
            <th>Loại vắc-xin:</th>
            <td>{{vaccineTypeName}}</td>
          </tr>
          <tr>
            <th>Tên vắc-xin:</th>
            <td>{{vaccineName}}</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="getMessageUpdate()">Hủy</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="updateVaccinationStatusManager()">
          Đồng ý
        </button>
      </div>
    </div>
  </div>
</div>
