h1{
  text-align: center;

}
span{
  color: red;
}
.center-th{
  text-align: center;
}
.table td, .table th {
  padding: 4px !important;
}

.form-control{
  border-color:#ced4da !important;
  box-shadow: 0 0 0 0.01rem  #ced4da !important;
}

