
<div class="container">
  <div class="container-fluid" id="custom-font"  style="">
      <h1 class="text-center mt-4 mb-4">Phản hồi thông tin sau khi tiêm chủng</h1>

      <form [formGroup]="formGroup" (ngSubmit)="update()"  style="margin-top: 8%;">
        <div class="row">
          <div class="container col-4">
          <h5 class="title-h5">Thông tin khách hàng</h5>
          <table class="table borderless" >
            <tbody>
            <!-- <tr>
              <td class="title-info-patient">ID:</td>
              <td>BN-{{vaccinationHistoryFeedback.patientId}}</td>
            </tr> -->
            <tr>
              <td class="title-info-patient">Tên bệnh nhân:</td>
              <td>{{vaccinationHistoryFeedback.patientName}}</td>
            </tr>
            <tr>
              <td class="title-info-patient">Giới tính:</td>
              <td>{{vaccinationHistoryFeedback.patientGender}}</td>
            </tr>
            <tr>
              <td class="title-info-patient">Ngày sinh:</td>
              <td>{{vaccinationHistoryFeedback.patientAge | date: "dd-MM-yyyy"}}</td>
            </tr>
            <tr>
              <td class="title-info-patient">Người giám hộ:</td>
              <td>{{vaccinationHistoryFeedback.patientGuardian}}</td>
            </tr>
            <tr>
              <td class="title-info-patient">Địa chỉ:</td>
              <td>{{vaccinationHistoryFeedback.patientAddress}}</td>
            </tr>
            <tr>
              <td class="title-info-patient">Số điện thoại:</td>
              <td>{{vaccinationHistoryFeedback.patientPhone}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="container col-8">

          <h5 class="title-h5">Thông tin Tiêm chủng</h5>
          <div  class="row   info_pre">
            <div  class="form-group col-12 col-md-6 col-xl-6">
                <label class="label" for="vaccineType">Tên Vaccine
                  <span class="text-danger ml-2">*</span>
                </label>
                <input formcontrolname="chartName" fullwidth="" id="chartName" nbinput="" trim="blur" type="text"
                    ng-reflect-status="danger"
                    ng-reflect-trim="blur"
                    [value]="vaccinationHistoryFeedback.name" type="text" id="vaccineType"  size="19" readonly
                    class="form-control input1">
            </div>
            <div  class="form-group col-12 col-md-6 col-xl-6">
              <label class="label" for="vaccineType">Loại Vaccine
                <span class="text-danger ml-2">*</span>
              </label>
              <input formcontrolname="chartName" fullwidth="" id="chartName" nbinput="" trim="blur" type="text"
                  ng-reflect-status="danger"
                  ng-reflect-trim="blur"
                  [value]="vaccinationHistoryFeedback.vaccineTypeName" type="text" id="dosage"  size="19" readonly
                  class="form-control input1">
            </div>
            <div  class="form-group col-12 col-md-6 col-xl-6">
              <label class="label" for="vaccineType">Ngày tiêm
                <span class="text-danger ml-2">*</span>
              </label>
              <input formcontrolname="chartName" fullwidth="" id="chartName" nbinput="" trim="blur" type="text"
                  ng-reflect-status="danger" ng-reflect-full-width=""
                  ng-reflect-trim="blur"
                  [value]="vaccinationHistoryFeedback.vaccinationDate | date: 'dd-MM-yyyy' " type="text" id="vaccinationTimes" size="19" readonly
                  class="form-control input1" >
            </div>
            <div  class="form-group col-12 col-md-6 col-xl-6">
              <label class="label" for="vaccineType">Địa điểm tiêm
                <span class="text-danger ml-2">*</span>
              </label>
              <input formcontrolname="chartName" fullwidth="" id="chartName" nbinput="" trim="blur" type="text"
                  ng-reflect-status="danger"
                  ng-reflect-trim="blur"
                  [value]="vaccinationHistoryFeedback.location" type="text" id="vaccinationTimes"  size="19" readonly
                  class="form-control input1" >
            </div>
            <div  class="form-group col-12 col-md-12 col-xl-12">
              <label class="label" for="vaccineType">Khung giờ tiêm
                <span class="text-danger ml-2">*</span>
              </label>
              <input formcontrolname="chartName" fullwidth="" id="chartName" nbinput="" trim="blur" type="text"
                  ng-reflect-status="danger"
                  ng-reflect-trim="blur"
                  [value]="time" type="text" id="vaccinationTimes"  size="19" readonly
                  class="form-control input1" >
            </div>
            <div  class="form-group col-12 col-md-12 col-xl-12">
              <label class="label" for="vaccineType">Tình trạng sau khi tiêm(Sốt cao,sốt nhẹ,dị ứng,...)
                <span class="text-danger ml-2">*</span>
              </label>
              <textarea formControlName="afterStatus" class="form-control" rows="4" id="comment">
              </textarea>
              <div class="text-danger" *ngFor="let validation of validation_messages.afterStatus">
                <small class="error-message"
                     *ngIf="formGroup.get('afterStatus').hasError(validation.type) && (formGroup.get('afterStatus').dirty || formGroup.get('afterStatus').touched)">
                  {{validation.message}}</small>
              </div>
            </div>


            <div class="form-group col-12 col-md-12 col-xl-12">
              <div class="text-center with-submit">
                <div *ngIf="isSubmited then submited else notSubmited"></div>
                <ng-template #notSubmited>
                  <button type="submit" class="btn btn-warning with-button">Phản hồi lại</button>
                  <button type="button" class="btn btn-secondary with-button" [routerLink]="'/vaccination-history/'+ vaccinationHistoryFeedback.patientId">Hủy</button>
                </ng-template>
                <ng-template #submited>
                  <button class="btn btn-lg btn-primary text-uppercase" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                  </button>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
      </form>
  </div>
</div>
