.card{
  width: 18rem;
  height: 385px;
}
.card-img-top{
  height: 150px;
}
.btn_register{
  float: right;
}
.headersss{
  display: flex;
  margin-top: 40px;
}
.chile_footer
{
  width: 30%;
  height: 50%;
  margin: auto;

}
