<div class="content">
    <div class="container-fluid">
        <div>
            <h3 class="text-center mt-4 ">DANH SÁCH BỆNH NHÂN ĐĂNG KÝ TIÊM CHỦNG THEO ĐỊNH KỲ CỦA TRUNG TÂM Y TẾ</h3>
        </div>
        <div class="topnav">
            <div>
                <form [formGroup]="formGroup">
                    <label>Họ Và Tên</label>
                    <input (keydown.enter)="page = 0;searchPeriodicVaccination()" [(ngModel)]="name" class="nameVaccine form-control" type="text" placeholder="Họ Và Tên" formControlName="name">
                    <div class="text-danger" *ngFor="let validation of validation_messages.name">
                        <div class="error-message" *ngIf="formGroup.get('name').hasError(validation.type) && (formGroup.get('name').dirty)">
                            {{validation.message}}
                        </div>
                    </div>
                </form>
            </div>
            <div style="margin-right: 15px;">
                <label>Tình trạng</label>
                <select (keydown.enter)="page = 0;searchPeriodicVaccination()" [(ngModel)]="status" class="form-control">
                  <option value="">Chọn Tình Trạng</option>
                  <option value=false>Chưa tiêm</option>
                  <option value=true>Đã tiêm</option>
                </select>
            </div>
            <div style="margin-top: 25px; margin-right: 15px;">
                <button class="btn btn-warning mt-2" (click)="page = 0;resetSearch()">
                  <i class="fas fa-sync-alt"></i>
                </button>
            </div>
            <div style="margin-top: 25px; margin-right: 15px;">
                <button class="btn btn-success mt-2" [disabled]="!formGroup.valid" (click)="page = 0;searchPeriodicVaccination()">
                  <i  class="fa fa-search"></i> Tìm kiếm
                </button>
            </div>
        </div>

        <div *ngIf="vaccinationHistoryList.length >0 then listData else notData">
        </div>

        <ng-template #listData>
            <div class="content" style="margin-top: 6%;">
                <!-- <h2 class="text-center" *ngIf="vaccinationHistoryList.length === 0" style="color: red">Không có dữ liệu để hiển thị ! Vui lòng quay lại sau!!!</h2> -->
                <div class="table">
                    <table class="table table-hover  table-bordered">
                        <thead style="background-color:rgb(158,207,251)">
                            <tr class="text-center">
                                <th style="width: 30px">STT</th>
                                <th style="width: 100px">Mã bệnh nhân</th>
                                <th style="width: 150px">Họ và tên</th>
                                <th style="width:  120px">Ngày sinh</th>
                                <th style="width: 100px">Giới tính</th>
                                <th style="width: 120px">Số điện thoại</th>
                                <th style="width: 120px">Địa chỉ</th>
                                <th style="width: 150px">Tên vaccine</th>
                                <th style="width: 100px">Mũi tiêm số</th>
                                <th style="width:  120px">Ngày tiêm</th>
                                <th style="width:  120px">Thời gian</th>
                                <th style="width: 100px">Tình trạng</th>
                                <th style="width: 130px">Trước khi khám</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr *ngFor="let object of vaccinationHistoryList | paginate: config ;let i = index"> -->
                            <tr *ngFor="let object of vaccinationHistoryList | paginate: { itemsPerPage: 10, currentPage: p }, index as i">
                                <td>{{i + 1}}</td>
                                <td class="text-center">BN-{{object.patientId}}</td>
                                <td>{{object.name}}</td>
                                <td>{{object.dateOfBirth | date:"dd-MM-yyyy"}}</td>
                                <td>{{object.gender}}</td>

                                <td>{{object.phone}}</td>
                                <td>{{object.address}}</td>
                                <td>{{object.vaccineName}}</td>

                                <td class="text-center">{{object.vaccinationTimes}}</td>
                                <td>{{object.vaccinationDate | date:"dd-MM-yyyy"}}</td>
                                <td>{{object.startTime | slice:0:5}} - {{object.endTime| slice:0:5}}</td>
                                <td class="text-center">

                                    <div *ngIf="object.status === true then logged else notLogged"></div>
                                    <ng-template #logged>
                                        <span class="badge badge-primary">Đã tiêm</span>
                                    </ng-template>
                                    <ng-template #notLogged>
                                        <span class="badge badge-danger">Chưa tiêm</span>
                                    </ng-template>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-primary" [routerLink]="['/registered-required-vaccination/view',object.patientId, object.vaccinationHistoryId]" [disabled]="object.status">Kiểm Tra</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div>
                    <!-- <pagination-controls previousLabel="Trước" nextLabel="Sau" class="float-right" (pageChange)="pageChanged($event)">
                </pagination-controls> -->

                    <pagination-controls previousLabel="Trước" nextLabel="Sau" class="float-right" (pageChange)="p = $event">
                    </pagination-controls>
                </div>
            </div>
        </ng-template>

        <ng-template #notData>
            <div class="card-deck justify-content-center" style="margin-top: 10%;">
                <h2 class="text-center text-danger">Không có kết quả được tìm thấy</h2>
            </div>
        </ng-template>
    </div>
</div>